

    <div> domain du livre = <%= @livre.domain %> </div>
    <div> titre du livre = <%= @livre.titre %> </div>
    <div> auteur du livre = <%= @livre.auteur %> </div>
    
    <div> <%= link_to "Retour liste", livres_path() %> </div>


