<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

  <body>
    <h1>Page Home</h1>
    
    <div><%= link_to "Creer un utilisateur", new_user_registration_path %></div>
    <div><%= link_to "Se connecter", user_session_path %></div>
    <div><%= link_to "Afficher les livres", livres_path() %></div>
    <div><%= link_to "Afficher les utilisateurs", users_index_path() %></div>

  </body>
</html>


<%# <h1>ekekes</h1> %>