/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.field_with_errors{
    color: red;
}

.userStatut{
    font-weight:bold;
    color:rgb(255, 255, 255);
    text-transform:uppercase;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.562);
    border-radius: 10px;
    width: fit-content;
    margin: 10px auto auto auto ;
    padding: 10px;
}

.titre{
    color: rgb(106, 140, 255);
}

.button-class{
    font-weight: bold;
    text-decoration: none;
}

.btn-primary{
    margin:10px;
  }
h1 {
    text-align: center;
    padding: 20px;
    
}
.mainContainer{
    left: auto;
    right: auto;
    margin: auto;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.19);
    border-radius: 30px;
    width: fit-content;
    padding: 30px;
}

h2 {
    text-align: center;
    padding: 20px;
}
input {
    border-radius: 30px;
    border-style: none;
    padding: 10px;
    background-color: rgba(163, 166, 169, 0.331);
}

label{
    font-weight: bold;
    color: grey;
    margin: 10px;
}
.field{
    text-align: center;
}
.actions input{
   
    background-color: rgba(0, 0, 255, 0.557);
}
.actions {
    margin: 10px;
    text-align: center;
}

a{
    text-decoration: none;
}

.card-container{
    background-color: rgba(189, 186, 186, 0.48);
    margin: auto;
    text-align: center;
    padding: 30px;
    width: fit-content;
    border-radius: 20px;
}
.card-container p{
    padding: 10px;
    font-weight: bold;
}

u{
    text-decoration: none;
    color: rgb(106, 140, 255);
}

.row-container{
    /* flex-direction: row; */
   
}

.row-container a{
        text-decoration: none;
        color: white;
    }
.userSignOut a{
    font-weight:bold;
    color:rgb(255, 255, 255);
    text-transform:uppercase;    
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    width: fit-content;
    margin: auto;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}
.userSignOut {
    text-align: center;
    margin: 25px;
}

#linkLog {
    text-align: center;
    font-weight: bold;
    /* margin-bottom: -50px; */
}
